:root {
  font-size: 1rem;
  box-sizing: border-box;

  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 4.5px;
    border: 1px solid $font-color;
    border-radius: 0.8em;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: $white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $font-color;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  font-size: 1rem;
  line-height: 1.5;
  direction: rtl;
  /* update text-align value to right;  on latin screens*/
  direction: ltr;
  /* update text-align value to left; on latin screens*/

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Ubuntu';
  color: $font-color;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}
