// -----------------------------------------------------------------------------
// This file contains all @font-face declarations
// -----------------------------------------------------------------------------

// FONT-FACE UBUNTU
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  src: url(assets/fonts/Ubuntu-Light.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  src: url(assets/fonts/Ubuntu-Bold.ttf) format('truetype');
  font-display: swap;
}
