// HOME HERO SECTION
.home-hero-wrap {
  width: 100%;
  max-width: calc(100% - 244px);
  margin: 0 auto;
  height: 612px;
  background: $brand-color;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  @include column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  color: $white;
  margin-bottom: calc-em(97px);

  @include respond(tab) {
    padding: 0 25px;
    margin-bottom: calc-em(47px);
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    height: 500px;
  }

  & .hero__header {
    font-weight: 500;
    font-size: calculate-rem(52px);
    line-height: 60px;
    color: inherit;

    @include respond(tab) {
      font-size: calculate-rem(32px);
      line-height: 1.5;
    }
  }

  .hero__detail {
    font-weight: 300;
    font-size: calculate-rem(18px);
    line-height: 21px;
    color: inherit;
    margin-top: calc-em(16px);
    margin-bottom: calc-em(24px);

    @include respond(tab) {
      font-size: calculate-rem(16px);
      line-height: 1.5;
    }
  }

  .hero__cta-button {
    @include radius-5px;
    background: $white;
    height: 53px;
    width: 188px;
    color: $font-color;
    font-size: calculate-rem(18px);
    line-height: 21px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    @include transition;

    &:hover {
      background: darken($color: $white, $amount: 10%);
    }
    &:active {
      background: lighten($color: $white, $amount: 5%);
    }

    @include respond(tab) {
      font-size: calculate-rem(14px);
      line-height: 1.5;
      height: 35px;
      width: 140px;
    }
  }
}
